<div class='splash'>
	<h1 class='logo'>Budget App</h1>
	
	<div class="singup-login">
		<%= link_to 'LOG IN', new_user_session_path, class: 'login-btn splash-btn' %>
		<%= link_to 'SIGN UP', new_user_registration_path, class: 'signup-btn splash-btn'%>
	</div>
	
</div>